.clickstyle52479{ font-size: 9pt ;}
.titlestyle52479{ line-height: 20px; margin: 8px 10px 8px 20px; padding-right: 0px; font-size: 14px ;}
.columnstyle52479{ font-size: 9pt ;}
.winstyle52479{ margin: 5px 0px ;}
A.c52479 {
line-height: 20px; margin: 8px 10px 8px 20px; padding-right: 0px; font-size: 14px 
;}
A.c52479:link {
color:;}
A.c52479:visited {
color:;}
A.c52479:active {
color: ;}
A.c52479:hover {
color: ;}